@font-face{
    src: url(fonts/holimount.regular.otf);
    font-family: holimount;
}

@font-face{
    src: url(fonts/raleway.extrabold.ttf);
    font-family: raleway;
}

@font-face{
    src: url(fonts/holimount.regular.otf);
    font-family : impacth ;
}

body{
    background-image: url(background.jpg);
    margin: 0%;
}

#main{
    margin : 6%;
}

#myself{
    padding : 5% 10% 2% 10% ;
    background-color: #f5f5f5;
}

#header{
    display : flex;
    align-items : center;
    padding : 0% 0% 2% 0%;
    justify-content: space-between;
}

#h1{
    display: flex;;
}

#logo{
    padding : 0% 5% 0% 0% ;
}

#name{
    border-left : solid #363636 2px;
    margin : 4% 0% 4% 0%;
    padding : 0% 0% 0% 5%;
    font-family : holimount ;
    font-size : 2vw;
}

#h_project{
    font-family: raleway;
    font-size: 3vw;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: #363636;
}

a:hover{
    text-decoration: none;
    color: #00e84e;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding : 7%;
}

.contentclass{
    padding: 5% 0% 5% 5%;
    font-family : raleway;
    font-size : 1.75vw;
}

.heading{
    font-size : 3vw;
}

#divider{
    padding : 0.5%;
    background-color: hsla(140, 100%, 45%, 0.5);
}

#projects{
    background-color: #363636;
    font-family: raleway;
    color: #f5f5f5;
    padding : 7% 10% 7% 10% ;
}

#projectlist{
    display : flex ;
}
.project{
    background-color: #00e84e;
    padding: 3%;
    border-bottom: #f5f5f5 solid 5px;
}

