@font-face{
    src: url(fonts/holimount.regular.otf);
    font-family: holimount;
}

@font-face{
    src: url(fonts/raleway.extrabold.ttf);
    font-family: raleway;
}

@font-face{
    src: url(fonts/holimount.regular.otf);
    font-family : impacth ;
}

body{
    background-image: url(background.jpg);
    margin: 0%;
}

#main{
    margin : 6%;
}

#firsthalf{
    padding : 7% 10% 5% 10% ;
    background-color: #f5f5f5;
}

#header{
    display : flex;
    align-items : center;
    padding : 0% 0% 2% 0%;
    justify-content: space-between;
}

#h1{
    display: flex;;
}

#logo{
    padding : 0% 5% 0% 0% ;
}

#name{
    border-left : solid #363636 2px;
    margin : 4% 0% 4% 0%;
    padding : 0% 0% 0% 5%;
    font-family : holimount ;
    font-size : 170% ;
}

#h_project{
    font-family: raleway;
    font-size: 200%;
}

a:link{
    text-decoration: none;
    color : #363636;
}

a:visited{
    text-decoration: none;
    color: #363636;
}

a:hover{
    text-decoration: none;
    color: #00e84e;
}

#about_me{
    font-family: raleway;
    padding : 8% 20% 8% 20%;
    font-size: 150%;
}

.heading{
    font-size : 200%;
}

#projects{
    background-color: #363636;
    font-family: raleway;
    color: #f5f5f5;
    font-size: 170%;
    padding : 7% 10% 7% 10% ;
}

