@font-face{
    src: url(holimount.regular.otf);
    font-family: holimount;
}

@font-face{
    src: url(raleway.extrabold.ttf);
    font-family: raleway;
}

body{
    padding : 0% 15% 0% 15%;
    margin : 0 ;
    background-color: #f5f5f5;
}

#Navbar{
    margin: 30px;
    display : flex;
}

#Logo{
    padding : 0% 4% 0% 0%;
}

#Name{
    margin : 2% 0% 2% 0% ;
    padding : 0% 0% 0% 4% ;
    font-family: holimount ;
    font-size: 160%;
    border-left: 2px #30f973 solid;
    color: #363636;
}

#Greetings{
    margin : 4% 0% 4% 0% ;
    padding : 1% 19% 1% 19% ; 
    font-family: raleway ;
    font-size : 150% ;
}
